<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" /> <f:comment><!-- Assuming a Default layout exists in the extension or TYPO3 core that provides basic BE structure --></f:comment>

<f:section name="Content">
    <h1>
        <f:translate key="LLL:EXT:pgu_brofix_extras/Resources/Private/Language/locallang_module.xlf:mlang_tabs_tab" />
        <f:if condition="{pageinfo.title}"> - {pageinfo.title -> f:format.htmlspecialchars()}</f:if>
    </h1>

    <core:flashMessages queueIdentifier="pgu_brofix_extras" />

    <f:render partial="BrokenLinksForm" arguments="{
        id: id,
        orderBy: orderBy,
        paginationPage: paginationPage,
        depth: depth,
        viewMode: viewMode,
        filter: filter,
        isAdmin: isAdmin,
        linktypes: linktypes,
        showRecheckButton: showRecheckButton,
        docsurl: docsurl
    }" />

    <f:if condition="{brokenLinks}">
        <f:then>
            <f:render partial="BrokenLinkList" arguments="{
                brokenLinks: brokenLinks,
                tableHeader: tableHeader,
                viewMode: viewMode,
                filter: filter,
                listUri: listUri,
                showPageLayoutButton: showPageLayoutButton,
                pagination: pagination,
                currentPage: paginationPage,
                depth: depth,
                orderBy: orderBy
            }" />
        </f:then>
        <f:else>
            <f:if condition="{id} > 0">
                <div class="alert alert-info">
                    <p><f:translate key="LLL:EXT:pgu_brofix_extras/Resources/Private/Language/locallang_module.xlf:list.no_items_on_page" /></p>
                </div>
            </f:if>
        </f:else>
    </f:if>

</f:section>
</html>
